@model List<CoutureEvents.Models.ProductModel>
@{
    ViewBag.Title = "List of Services";
}


<body>
   
    

    @foreach (var items in Model)
    {
        
        <div id="services" class="whitebackground">
            <h1>@items.Name</h1>
            <h2>@items.Price.Value.ToString("c")</h2>
            <p>@items.Description</p>
            <a class="btn" @Html.ActionLink("Recieve Proposal", "Index", "Product", new { id = items.ServiceID }, null)
        </div>
        
    }
</body>
