@model CoutureEvents.Models.ForgotPasswordModel
@{
    ViewBag.Title = "ForgotPassword";
}

<h2>ForgotPassword</h2>
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
<fieldset>
    @Html.LabelFor(m => m.EmailAddress)
    @Html.TextBoxFor(m => m.EmailAddress, new { @class = "Form-control" })
    @Html.ValidationMessageFor(m => m.EmailAddress)

    <input type="submit" value="Submit" />

</fieldset>
}