
@{
    ViewBag.Title = "RegistrationComplete";
}

<h2>RegistrationComplete</h2>

<div class="bg-info">
    An email has been sent to the address you signed up with.  Please check you email to verify your account. (sendgrid, mail gun)
</div>
