@{
    ViewBag.Title = "About Me";
}
<div class="row">
    <article class="col-md-6 whitebackground">
        <h2>Perfectly Planned</h2>
        <p>
            Meet  Suzanne Halaska, founder of Couture Events.  Before debuting her company, Suzanne had always been the go to person for planning social, charity and community events as well as the hostess for all special occasions.

            She has the passion, enthusiasm and creativity  for organizing the details to produce a special event that is elegant, fun and memorable. With this expertise and hands-on experience as the former Events Coordinator for color & company, a local event florist, Suzanne has had the opportunity to worked directly with high profile companies and  many brides and their families.

            Her knowledge of  weddings ranges from the elite in top hotels and venues to a garden party in its natural landscape.

            Suzanne is accredited by the American Bridal Association as a Certified Wedding Planner. Coupled with her evolving knowledge of the industry, the best resources and vendors along with your ideas, she and her team can assure you of the highest standard of service and memorable results. What you expect as a client is what Couture Events guarantees.

            Our motto is simple: your vision, your event, our expertise and no worries.

            Let Couture Events enhance your vision into a fabulous event that you and your guests will always remember.
        </p>

    </article>

    <div class="col-md-6">
        <img src="~/Content/headshot.jpg" />
        <h2 class="whitebackground">“Always be ready to have the time of your life.”</h2>
    </div>
</div>
