@{
    ViewBag.Title = "Contact";
}
<div class="whitebackground">

    <h2>Contact Us!</h2>


    <address>
       <strong> Address:</strong> 3644 N. Fremont Street #2<br />
        <strong>City: </strong> Chicago IL, 60613 <br />
        <strong>Office:</strong> 312.810.5066<br />
        <strong>Fax:</strong> 773.904.7771<br />
        <strong>Email:</strong><a href="mailto:Suzanne@CoutureEventsChicago.com">Suzanne@CoutureEventsChicago.com</a> <br />
        <br />

        <p> Ready to party? Call or email me and click on this link to send your information to get this party started!</p>
    </address>

</div>

