
@{
    ViewBag.Title = "Register";
}




<fieldset class="whitebackground">
    <h2>Register</h2>
    <div class="row">
        <div class="col-md-4">
            <label> Name of Bride:</label>
            <input name="firstName" placeholder="First Name" class="form-control" type="text" required />
            <input name="lastName" placeholder="Last Name" class="form-control" type="text" required />
            <label> Name of Groom:</label>
            <input name="firstName" placeholder="First Name" class="form-control" type="text" required />
            <input name="lastName" placeholder="Last Name" class="form-control" type="text" required />
            <label> Phone Number:</label>
            <input name="phoneNumber" placeholder="(###) ###-####" class="form-control" type="tel" required />
            <label> Email Address:</label>
            <input name="email" placeholder="email.com" class="form-control" type="email" required />
        </div>


        <div class="col-md-4">
            <label>Address:</label>
            <input name="Address" placeholder="Address 1" class="form-control" type="text" required />
            <input name="Address" placeholder="Address 2" class="form-control" type="text" required />
            <label> City:</label>
            <input name="Address" placeholder="City" class="form-control" type="text" required />
            <input name="Address" placeholder="Zipcode" class="form-control" type="text" required />
            <input name="Address" placeholder="Country" class="form-control" type="text" required />
        </div>

        <div class="col-md-4">

            <label> Wedding Date:</label>
            <input name="Date" class="form-control" type="date" required />
            <label> Number of Guests:</label>
            <input name="Guests" placeholder="Number of Guests" class="form-control" type="number" required />
            <label> Number of Bridesmaids:</label>
            <input name="Guests" placeholder="Number of Bridesmaids" class="form-control" type="number" required />
            <label> Number of Groomsmen:</label>
            <input name="Guests" placeholder="Number of Groomsmen" class="form-control" type="number" required />
        </div>
    </div>
    <input id="submit" type="submit" />





</fieldset>

